<div style='float:right'>
  <a href="/sessions/new">Login</a>
</div>

<h1>Pick-up / Delivery Log</h1>

<% @logs.each do |log| %>
  <div style="float:left;margin-right:30px">
    <br>

    <div style="float:right">
     <p>Company: <%= log.company %></p>
    </div><br>

    <p>Time: <a href="/logs/<%= log.id %>">
       <%= log.updated_at %></p>
    </a>
  </div>
<% end %>

